.snowy {
    background-color: rgb(10, 10, 49);
    height: inherit;
    width: inherit;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: end;
}

.moon {
    height: 3.5rem;
    width: 3.5rem;
    background-color: aliceblue;
    border-radius: 3rem;
    position: absolute;
    align-self: end;
    top: 5rem;
    right: 3rem;
    animation: 40s infinite alternate-reverse moon;
    animation-timing-function: linear;
}

@keyframes moon {
    0%{
       top: 5rem;
       right: 3rem;
    }
    50%{
      transform: translate(-20rem, -4rem);
    }
    100%{
        transform: translate(-40rem);
    }
}

.tree1{
    height: 0;
    width: 0;
    border-bottom: 6rem solid #5b6b09;
    border-left: 1.8rem solid transparent;
    border-right: 1.8rem solid transparent;
    position: absolute;
    left:10rem;
    bottom: 2.1vh;
    z-index: 5;
}
.tree2{
    height: 0;
    width: 0;
    border-bottom: 10rem solid #718710;
    border-left: 2rem solid transparent;
    border-right: 2rem solid transparent;
    position: absolute;
    left:7rem;
    bottom: 2vh;
    z-index: 5;
}

.snow{
    height: 4vh;
    width: inherit;
    background-color: white;
    position: relative;
    border-radius: 0 0 2rem 2rem;
    z-index: 5;
}

.snowfall{
    background: url(https://i.imgur.com/T0mBFg2.png);
    background-size: 350px 200px;
    background-repeat: repeat;
    height: 64vh;
    width: 64vw;
    border-radius: 2rem;
    animation:snowfall 5s linear forwards infinite; 
    -webkit-animation:snowfall 5s linear forwards infinite; 
    z-index: 2
}

@keyframes snowfall{
    0%{
      background-position: 0 0;
    }
    20%{
      background-position: 20px 20px;
    }
    40%{
      background-position: 40px 40px;
    }
    60%{
      background-position: 60px 60px;
    }
    80%{
      background-position: 80px 80px;
    }
    100%{
      background-position: 100px 100px;
    }
}
@-webkit-keyframes snowfall{
    0%{
      background-position: 0 0;
    }
    20%{
      background-position: 20px 20px;
    }
    40%{
      background-position: 40px 40px;
    }
    60%{
      background-position: 60px 60px;
    }
    80%{
      background-position: 80px 80px;
    }
    100%{
      background-position: 100px 100px;
    }
}

