div {
  z-index: 1;
}

.cameraAndButtons {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.webCam {
  margin-top: 4em;
  border-radius: 45px;
  max-width: 30%;

  align-self: center;
}

.capturedImg {
  margin-top: 5em;
  border-radius: 2rem;
  max-width: 60%;
  align-self: center;
}

.captureButton {
  background-color: #0F7173;
  border-radius: 15px;
  padding: 20px;
  border: none;
  font-size: 32px;
  color: white;
  align-self: center; 
  cursor: pointer; 
}

.buttons {
  align-self: center;
  display: flex;
  gap: 5rem;
}

.actionSelection {
  margin-top: 26rem;
}

.actionsList {
  display: flex;
  flex-direction: column;
  font-size: 32px;
  align-items: flex-start;
  padding-left: 6rem;
}

input[type="radio"] {
  accent-color: #0F7173;
  transform: scale(2);
  border: #0F7173;
  margin-right: 1rem;
  vertical-align: middle;
}

label {
  vertical-align: middle;
}

.songTitleBox {
  border-radius: 10px;
  font-size: 32px;
}

.otherCommandBox {
  border-radius: 10px;
  font-size: 32px;
}

.bottomOfPage {
  height: 15rem;
}

.createGestureButton {
  background-color: #0F7173;
  border-radius: 15px;
  padding: 20px;
  margin-top: 4rem;
  border: none;
  font-size: 32px;
  color: white;
  align-self: center; 
  cursor: pointer; 
}