div {
  z-index: 1;
}

.cameraAndButtons {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.webCam {
  margin-top: 4em;
  border-radius: 45px;
  max-width: 30%;
  align-self: center;
}

.capturedImg {
  margin-top: 5em;
  border-radius: 45px;
  max-width: 30%;
  align-self: center;
}

.captureButton {
  background-color: #0F7173;
  border-radius: 15px;
  padding: 20px;
  border: none;
  font-size: 32px;
  color: white;
  align-self: center;  
}

.buttons {
  align-self: center;
  display: flex;
  gap: 5rem;
}

.actionsList {
  display: flex;
  flex-direction: column;
}

.gesture-page {
  width: 100%
}

.exit-button {
  background-color: #0F7173;
  border-radius: 15px;
  padding: 0.5rem;
  padding-top: 0.25rem;
  border: none;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;  
  margin: 1rem;
}

.gesture-header {
  display: flex;
  justify-content: start;
  position: fixed;
  /* z-index: -1; */
}