.RoomSim{
    display: flex;
    justify-content: center;
}

.Hidden {
    visibility: hidden;
    height: 0px;
}

.button-container {
    position: absolute;
    margin-top: 80vh;
}

.window {
    width: 64vw;
    height: 64vh;
    margin-top: 10vh;
    border-style: solid;
    border-color: #000000;
    border-width: 0.5rem;
    border-radius: 2rem;
    z-index: 10;
    position: absolute;
}

.standard-button {
    background-color: #0F7173;
    border-radius: 15px;
    padding: 20px;
    border: none;
    font-size: 32px;
    color: white;
}

.standard-anchor {
    background-color: #0F7173;
    border-radius: 15px;
    padding: 20px;
    padding-top: 15px;
    border: none;
    font-size: 2rem;
    color: white;
    text-decoration: none;
}
.webCam {
    max-width: 10rem;
    left: 64rem;
    margin-top: 15rem;
    border-radius: 1rem;
}

