.Room {
    width:65vw;
    height: 65vh;
    margin-top: 10rem;
    margin-bottom: 3rem;
    border-radius: 2rem;
    background-color: rgb(10, 10, 49);
}

.Hidden {
    visibility: hidden;
    height: 0px;
}

.standard-button {
    background-color: #0F7173;
    border-radius: 15px;
    padding: 20px;
    border: none;
    font-size: 32px;
    color: white;
}

.standard-anchor {
    background-color: #0F7173;
    border-radius: 15px;
    padding: 20px;
    padding-top: 15px;
    border: none;
    font-size: 2rem;
    color: white;
    text-decoration: none;
}


.window {
    width: 64vw;
    height: 64vh;
    border-style: solid;
    border-color: #000000;
    border-width: 0.5rem;
    border-radius: 2rem;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
}
